//fonts
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

* {
  text-transform: capitalize;
  font-family: 'Dosis', sans-serif;
  .btn {
    width: 50px !important;
    height: 50px !important;
    margin: 2.5px;
    font-size: 20px;
    border-radius: 150px;
    color: white !important;
  }
  .number {
    background: #333333;
  }
  .number:hover{
    background: #444444;
    color: white;
  }
  .number:active {
    background: #555555;
    color: white;
  }
  .sign {
    background: #ff9501;
    font-size: 30px;
  }
  .sign:hover{
    background: #ee8f00;
  }
  .sign:active{
    background: #dd9501;
  }
  .delete {
    background: #a6a6a6;
    color: black !important;
  }
  .delete:hover{
    background: #b6b6b6;
  }
  .delete:active{
    background: #c6c6c6;

  }
  #monitor {
    width: 215px;
    height: 100px;

    #history {
      height: 35px;
      padding: 5px 10px 5px 5px;
      background: black !important;
      .history-items {
        color: #ffffffbd;
        margin: 1px;
      }
    }
    #live-monitor {
      height: 65px;
      padding: 5px;
      font-size: 25px;
      background: black !important;
      color: #fff;
    }
  }
  #numpad {
    width: 250px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .take2 {
    width: 105px !important;
  }
  #content {
    width: 240px;
    height: 400px;
    background-color: black;
  }
  #clear {
    font-size: 20px !important;
  }
}
