* {
  text-transform: capitalize;
  .btn {
    width: 50px !important;
    height: 50px !important;
    margin: 2.5px;
    font-size: 25px;
  }
  #monitor {
    width: 215px;
    height: 100px;

    #history {
      height: 35px;
      padding: 5px 10px 5px 5px;
      .history-items{
        margin: 1px;
      }
    }
    #live-monitor {
      height: 65px;
      padding: 5px;
      font-size: 25px;
    }
  }
  #numpad {
    width: 250px;
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #clear{
    font-size: 20px !important;
  }
}
